---

---

<footer class="py-20 mt-20" transition:name="footer" transition:persist>
  <main class="container
  mx-auto
    px-3">
    Kairos &copy; {new Date().getFullYear()} | <a
      href="/legal"
      class="underline">Legal</a
    >
  </main>
</footer>
