---
interface Props {
  links: {
    label: string;
    href: string;
  }[];
}

const { links } = Astro.props;
---

<ul class="flex flex-col md:flex-row gap-1 md:gap-4">
  {
    links.map((link) => (
      <li>
        <a
          href={link.href}
          class="relative inline-block group transition-colors hover:text-orange-500"
        >
          {link.label}
          <span class="absolute bottom-0 left-0 w-full h-[1px] bg-orange-500 scale-x-0 group-hover:scale-x-100 origin-left duration-200 transition-transform ease-in-out" />
        </a>
      </li>
    ))
  }
</ul>
